.section-previews {
    display: flex;
    flex-direction: row;
    background-image: url(../img/background/previews_mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;

    .section-previews-content {
        display: flex;
        flex-basis: 70%;
        text-align: center;

        @media screen and (min-width: 960px) {
            flex-basis: 65%;
            flex-grow: 1;

        }

        .preview-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: rgba(210, 210, 210, 0.7);

            .preview-content-header {
                display: flex;
                background-color: rgba(210, 210, 210, 0.5);

                @media screen and (min-width: 576px) {
                    padding: 1rem 0;
                }

                .preview-content-header-map,
                .preview-content-header-emblem {
                    display: none;

                    @media screen and (min-width: 576px) {
                        display: block;
                        align-self: center;
                        flex-basis: 25%;
                    }

                }

                .preview-content-header-map {
                    img {
                        width: 35%;

                    }
                }

                .preview-content-header-emblem {
                    img {
                        width: 25%;

                    }
                }

                .preview-content-header-city {
                    flex-basis: 100%;

                    @media screen and (min-width: 576px) {
                        flex-basis: 50%;
                    }

                    .preview-content-date,
                    .preview-content-description,
                    .preview-content-city {
                        padding: 0.2rem 0;

                    }

                    .preview-content-date,
                    .preview-content-description {
                        font-size: 1.4rem;

                    }

                    .preview-content-city {
                        font-size: 1.9rem;
                        font-weight: 900;

                        @media screen and (min-width: 960px) {
                            font-size: 2.2rem;
                        }

                    }

                    .preview-content-description {
                        font-weight: 900;
                    }

                }


            }

            .preview-content-wrapper-run {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                @media screen and (min-width: 960px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 1rem;
                    padding: 1rem;
                }

                .preview-content-run-place,
                .preview-content-run-route,
                .preview-content-run-payment,
                .preview-content-run-bonus,
                .preview-content-run-links {
                    flex-grow: 1;

                }

                .preview-content-run-place,
                .preview-content-run-route,
                .preview-content-run-payment,
                .preview-content-run-bonus {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 1rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    @media screen and (min-width: 960px) {
                        border: 1px solid rgba(0, 0, 0, 0.1);

                    }


                    i {
                        display: none;

                        @media screen and (min-width: 960px) {
                            display: block;
                            font-size: 3.5rem;
                            color: rgba(0, 0, 0, 0.5);
                            padding: 1rem 0;
                        }

                    }

                }


                .preview-content-run-place,
                .preview-content-run-bonus {

                    @media screen and (min-width: 960px) {
                        grid-column: span 2 / auto;
                    }

                }

                .preview-content-run-route,
                .preview-content-run-payment {

                    @media screen and (min-width: 960px) {
                        grid-row: span 2 / auto;
                    }


                }

                .preview-content-run-place {

                    @media screen and (min-width: 960px) {
                        border-radius: 30px 30px 0 30px;
                    }

                    p {
                        padding: 0.2rem 0;
                    }

                    p:nth-child(1) {
                        font-size: 1.6rem;
                        font-weight: 900;

                        @media screen and (min-width: 960px) {
                            font-size: 1.9rem;

                        }
                    }

                    p:nth-child(3) {
                        font-size: 1.4rem;

                        @media screen and (min-width: 960px) {
                            font-size: 1.6rem;
                        }
                    }

                }

                .preview-content-run-route {

                    @media screen and (min-width: 960px) {
                        border-radius: 30px 30px 30px 0;
                    }

                    p:nth-child(1),
                    p:nth-child(2) {
                        font-weight: 900;
                        padding-bottom: 1rem;
                    }

                    p:nth-child(1) {
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);

                        @media screen and (min-width: 960px) {
                            font-size: 1.6rem;
                        }
                    }

                    p:nth-child(2) {
                        font-size: 1.8rem;

                        @media screen and (min-width: 960px) {
                            font-size: 2.5rem;

                        }

                    }

                    i {
                        @media screen and (min-width: 960px) {
                            padding-top: 0;

                        }
                    }

                    p:nth-child(4) {
                        font-size: 1.4rem;

                        @media screen and (min-width: 960px) {
                            font-style: italic;
                        }

                    }


                }

                .preview-content-run-payment {

                    @media screen and (min-width: 960px) {
                        border-radius: 30px 0 30px 30px;
                    }

                    p:nth-child(1),
                    p:nth-child(2) {
                        font-weight: 900;
                        padding-bottom: 1rem;
                    }

                    p:nth-child(1) {
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);

                        @media screen and (min-width: 960px) {
                            font-size: 1.6rem;
                        }
                    }

                    p:nth-child(2) {
                        font-size: 1.8rem;

                        @media screen and (min-width: 960px) {
                            font-size: 2.5rem;

                        }

                    }

                    i {
                        @media screen and (min-width: 960px) {
                            padding-top: 0;

                        }
                    }

                    p:nth-child(4) {
                        font-weight: 900;
                        font-size: 1.4rem;
                        padding-bottom: 0.3rem;

                        @media screen and (min-width: 960px) {
                            padding-bottom: 0.5rem;
                        }

                    }

                    ul {
                        list-style: square;

                        li {
                            font-size: 1.3rem;
                            margin-left: 1.5rem;
                            padding-bottom: 0.3rem;
                            text-align: left;

                            @media screen and (min-width: 960px) {
                                font-size: 1.4rem;
                            }

                        }
                    }

                }

                .preview-content-run-links {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    order: 8;

                    @media screen and (min-width: 960px) {
                        order: 0;

                    }

                    div {
                        width: 80%;
                        align-self: center;
                        font-size: 1.2rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 7px;
                        background-color: rgba(124, 118, 184, 0.4);

                        @media screen and (min-width: 576px) {
                            width: 50%;
                        }

                        @media screen and (min-width: 960px) {
                            width: 100%;
                        }

                        a {
                            display: block;
                            color: rgba(0, 0, 0, 0.6);
                            text-decoration: none;
                            padding: 0.5rem 0;

                        }

                    }

                    div:hover {
                        background-color: rgba(210, 210, 210, 0.5);
                    }

                    div:hover a {
                        color: black;
                    }
                }

                .preview-content-run-bonus {

                    @media screen and (min-width: 960px) {
                        border-radius: 0 30px 30px 30px;

                    }

                    p:nth-child(1) {
                        font-size: 1.4rem;
                        font-weight: 900;
                        padding-bottom: 1rem;
                        text-align: center;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);

                        @media screen and (min-width: 960px) {
                            font-size: 1.6rem;
                        }
                    }

                    ul {
                        list-style: square;

                        li {
                            font-size: 1.3rem;
                            margin-left: 1.5rem;
                            padding-bottom: 0.3rem;
                            text-align: left;

                            @media screen and (min-width: 960px) {
                                font-size: 1.4rem;
                            }
                        }
                    }

                }

            }

        }

        .animation-preview-content {
            animation: animation-preview-content 2s linear;
        }

    }

    .section-previews-racing {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        transition: 1s;
        border-left: 1px solid rgba(0, 0, 0, 0.1);

        @media screen and (min-width: 960px) {
            // min-height: 100vh;
            transform: translateX(90%);
            flex-basis: 35%;
            border-left: none;
        }


        .section-previews-search {
            display: flex;

            @media screen and (min-width: 960px) {
                // flex-basis: 10%;
                justify-content: flex-end;
                background-color: rgba(210, 210, 210, 0.7);
                padding-top: 2rem;
                padding-bottom: 1rem;

            }


            .select {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                background-color: rgba(210, 210, 210, 0.7);

                @media screen and (min-width: 960px) {
                    align-items: center;
                    background-color: transparent;
                    justify-content: center;
                    width: 90%;


                }

                select {
                    font-weight: 900;
                    flex-basis: 100%;
                    border: none;
                    background-color: transparent;
                    appearance: none;
                    cursor: pointer;
                    text-align: center;
                    text-align-last: center;
                    font-size: 1.4rem;
                    padding: 0.2rem 0;

                    @media screen and (min-width: 960px) {
                        padding: 0.5rem 0;
                        font-size: 1.2rem;
                        background-color: rgba(255, 255, 255, 0.7);
                    }

                }

                select:hover {
                    background-color: rgba(210, 210, 210, 0.7);

                }

                select:nth-child(1) {
                    @media screen and (min-width: 960px) {
                        flex-basis: 30%;
                        margin-right: .5rem;

                    }
                }

                select:nth-child(2) {
                    @media screen and (min-width: 960px) {
                        flex-basis: 20%;
                        margin-right: .5rem;

                    }
                }

                select:nth-child(3) {
                    @media screen and (min-width: 960px) {
                        flex-basis: 30%;

                    }
                }

            }


        }

        .previews-racing {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-grow: 1;

            @media screen and (min-width: 960px) {
                // flex-basis: 90%;
            }

            .section-previews-banner {
                display: none;

                @media screen and (min-width: 960px) {
                    flex-basis: 10%;
                    display: flex;
                    background-color: rgba(210, 210, 210, 0.7);
                    justify-content: center;
                }

                i {
                    align-self: center;
                    transform: translateY(-5vh);
                    font-size: 2rem;

                }

                i:hover {
                    cursor: pointer;
                    color: white;
                }

            }

            .section-previews-all {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                background-color: rgba(210, 210, 210, 0.7);

                @media screen and (min-width: 960px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    flex-basis: 90%;

                }

                .preview {
                    display: flex;
                    width: 100%;
                    flex-grow: 1;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    padding: 0.4rem 0;


                    @media screen and (min-width: 960px) {
                        flex-basis: 50%;
                        // min-height: calc(90vh/8);
                        flex-grow: 0;
                    }


                    p:nth-child(1) {
                        font-weight: 900;
                        font-size: 1.4rem;
                        padding: 0.2rem 0;

                        @media screen and (min-width: 960px) {
                            font-size: 1.5rem;
                        }
                    }

                    p:nth-child(2) {
                        font-size: 1.2rem;

                        @media screen and (min-width: 960px) {
                            padding-bottom: 0.2rem;
                        }

                    }

                    p:nth-child(3) {
                        display: none;

                        @media screen and (min-width: 960px) {
                            display: block;
                            font-size: 1.2rem;
                            font-style: italic;
                        }
                    }



                }

                .preview:nth-child(odd) {
                    background-color: rgba(210, 210, 210, 0.7);

                    @media screen and (min-width: 960px) {
                        background-color: transparent;
                    }
                }

                .preview:hover {
                    background-color: rgba(210, 210, 210, 0.3);
                    cursor: pointer;
                }

            }
        }

    }

    .animation-previews-button {
        animation: animation-previews-button 1.5s linear infinite;
    }

    @keyframes animation-previews-button {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    @keyframes animation-preview-content {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .section-previews-racing-visible {
        transform: translateX(0%);

    }
}