.section-previews {
    display: flex;
    flex-direction: row;
    background-image: url(../img/background/previews_mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    // overflow: hidden;

    .section-previews-content {
        flex-basis: 72%;
        text-align: center;

        @media screen and (min-width: 992px) {
            flex-basis: 65%;
        }

        .preview-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: rgba(210, 210, 210, 0.7);

            .preview-content-header {
                display: flex;
                height: 10vh;
                background-color: rgba(210, 210, 210, 0.5);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                @media screen and (min-width: 576px) {
                    height: 20vh;
                }

                @media screen and (min-width: 1024px) {
                    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
                }

                .preview-content-header-map,
                .preview-content-header-emblem {
                    display: none;

                    @media screen and (min-width: 576px) {
                        display: block;
                        flex-basis: 25%;
                        align-self: center;
                    }

                    @media screen and (min-width: 1024px) {
                        flex-basis: 25%;
                        align-self: center;
                    }

                }

                .preview-content-header-map {
                    img {
                        width: 35%;
                    }
                }

                .preview-content-header-emblem {
                    img {
                        width: 25%;
                    }
                }

                .preview-content-header-city {
                    flex-basis: 100%;
                    align-self: center;

                    @media screen and (min-width: 576px) {
                        flex-basis: 50%;
                    }


                    @media screen and (min-width: 1024px) {
                        flex-basis: 50%;
                    }

                    .preview-content-city {
                        font-size: 1.4rem;
                        font-weight: 900;

                        @media screen and (min-width: 1024px) {
                            font-size: 1.8rem;
                        }

                    }

                    .preview-content-date,
                    .preview-content-description {
                        font-size: 0.8rem;

                        @media screen and (min-width: 1024px) {
                            padding-top: 5px;
                            font-size: 1.2rem;
                        }

                    }

                }


            }

            .preview-content-wrapper-run {
                display: flex;
                flex-direction: column;
                height: 90vh;

                @media screen and (min-width: 576px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 5px;
                    padding: 5px;
                    height: 80vh;
                }

                @media screen and (min-width: 1024px) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 10px;
                    padding: 20px 20px;
                }

                .preview-content-run-place,
                .preview-content-run-route,
                .preview-content-run-payment,
                .preview-content-run-bonus {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 1rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    @media screen and (min-width: 576px) {
                        border: 1px solid rgba(0, 0, 0, 0.1);

                    }

                    @media screen and (min-width: 1024px) {
                        padding: 0.5rem;
                        height: auto;
                    }

                    i {
                        font-size: 1.5rem;
                        color: rgba(0, 0, 0, 0.5);
                        padding: 0.3rem 0;

                        @media screen and (min-width: 576px) {}

                        @media screen and (min-width: 1024px) {
                            font-size: 2.5rem;
                            padding-bottom: 1rem;
                        }
                    }

                }

                .preview-content-run-place,
                .preview-content-run-bonus {

                    @media screen and (min-width: 576px) {
                        grid-column: span 2 / auto;
                    }

                    @media screen and (min-width: 1024px) {
                        grid-column: span 2 / auto;
                    }

                }

                .preview-content-run-route,
                .preview-content-run-payment {

                    @media screen and (min-width: 576px) {
                        grid-row: span 2 / auto;
                    }

                    @media screen and (min-width: 1024px) {
                        grid-row: span 2 / auto;
                    }

                }

                .preview-content-run-place {
                    flex-basis: 15%;

                    @media screen and (min-width: 576px) {
                        border-radius: 30px 30px 0 30px;
                    }

                    @media screen and (min-width: 1024px) {
                        border-radius: 30px 30px 0 30px;
                    }

                    p:nth-child(1) {
                        font-size: .9rem;
                        font-weight: 900;

                        @media screen and (min-width: 1024px) {
                            font-size: 1.3rem;
                            font-weight: 900;
                            padding-bottom: 1rem;
                        }
                    }


                    p:nth-child(3) {
                        font-size: .7rem;

                        @media screen and (min-width: 1024px) {
                            font-size: 1.2rem;
                        }
                    }

                }

                .preview-content-run-route {
                    flex-basis: 25%;

                    @media screen and (min-width: 576px) {
                        border-radius: 30px 30px 30px 0;
                    }

                    @media screen and (min-width: 1024px) {
                        border-radius: 30px 30px 30px 0;
                    }


                    p:nth-child(1) {
                        font-size: 0.8rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);
                        padding-bottom: 0.5rem;

                        @media screen and (min-width: 1024px) {
                            text-transform: uppercase;
                            font-weight: 900;
                            padding-bottom: 1rem;
                            color: rgba(0, 0, 0, 0.5)
                        }
                    }

                    p:nth-child(2) {
                        font-size: 1.2rem;
                        font-weight: 900;

                        @media screen and (min-width: 1024px) {
                            font-size: 2rem;
                            font-weight: 900;
                        }

                    }

                    p:nth-child(4) {
                        font-size: 0.6rem;


                        @media screen and (min-width: 992px) {
                            font-size: 1rem;
                        }

                    }


                }

                .preview-content-run-payment {
                    flex-basis: 28%;

                    @media screen and (min-width: 576px) {
                        border-radius: 30px 0 30px 30px;
                    }

                    @media screen and (min-width: 1024px) {
                        border-radius: 30px 0 30px 30px;
                    }

                    p {
                        font-size: 0.6rem;

                        @media screen and (min-width: 992px) {
                            font-size: 1rem;
                        }
                    }

                    p:nth-child(1) {
                        font-size: 0.8rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);
                        padding-bottom: 0.5rem;

                        @media screen and (min-width: 1024px) {
                            text-transform: uppercase;
                            font-weight: 900;
                            padding-bottom: 1rem;
                            color: rgba(0, 0, 0, 0.5)
                        }
                    }

                    p:nth-child(2) {
                        font-size: 1.2rem;
                        font-weight: 900;

                        @media screen and (min-width: 1024px) {
                            font-size: 2rem;
                            font-weight: 900;
                        }

                    }


                    p:nth-child(4) {
                        font-size: 0.7rem;
                        font-weight: 900;
                        padding-bottom: 0.2rem;

                        @media screen and (min-width: 1024px) {
                            font-weight: 900;
                            padding-bottom: 0.2rem;
                        }
                    }

                }

                .preview-content-run-links {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    order: 8;
                    flex-basis: 12%;

                    @media screen and (min-width: 576px) {
                        order: 0;

                    }

                    @media screen and (min-width: 1024px) {
                        order: 0;
                        height: auto;
                    }

                    div {
                        align-self: center;
                        width: 50%;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        background-color: rgba(124, 118, 184, 0.4);
                        border-radius: 7px;
                        font-size: 0.5rem;
                        font-weight: 900;
                        text-transform: uppercase;

                        @media screen and (min-width: 576px) {
                            font-size: 0.6rem;
                            width: 90%;
                        }

                        @media screen and (min-width: 1024px) {
                            font-size: 0.8rem;

                        }

                        a {
                            display: block;
                            color: rgba(0, 0, 0, 0.6);
                            text-decoration: none;
                            padding: 0.2rem 0;

                            @media screen and (min-width: 1024px) {
                                padding: 0.5rem 0;
                            }
                        }

                    }

                    div:hover {
                        background-color: rgba(210, 210, 210, 0.5);
                    }

                    div:hover a {
                        color: black;
                    }
                }

                .preview-content-run-bonus {
                    flex-basis: 20%;

                    @media screen and (min-width: 576px) {
                        border-radius: 0 30px 30px 30px;

                    }


                    @media screen and (min-width: 1024px) {
                        border-radius: 0 30px 30px 30px;
                    }

                    p {
                        font-size: 0.6rem;

                        @media screen and (min-width: 992px) {
                            font-size: 1rem;
                        }
                    }

                    p:nth-child(1) {
                        font-size: 0.8rem;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);
                        padding-bottom: 0.5rem;

                        @media screen and (min-width: 1024px) {
                            text-transform: uppercase;
                            font-weight: 900;
                            padding-bottom: 1rem;
                            color: rgba(0, 0, 0, 0.5)
                        }
                    }

                    i {
                        font-size: 0.5rem;
                        padding-right: 0.5rem;
                        padding-bottom: 0;
                    }
                }

            }

        }

        .animation-preview-content {
            animation: animation-preview-content 2s linear;
        }

    }

    .section-previews-racing {
        flex-basis: 28%;
        display: flex;
        flex-direction: column;
        transition: 1s;
        height: 100vh;
        border-left: 1px solid rgba(0, 0, 0, 0.1);

        @media screen and (min-width: 992px) {
            transform: translateX(90%);
            flex-basis: 35%;
        }

        .section-previews-search {
            flex-basis: 10%;
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            @media screen and (min-width: 576px) {
                flex-basis: 20%;
            }

            @media screen and (min-width: 992px) {
                flex-basis: 10%;
                background-color: rgba(210, 210, 210, 0.7);
                padding: 10px 0px;
            }

            .select {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: rgba(210, 210, 210, 0.7);

                @media screen and (min-width: 992px) {
                    background-color: transparent;
                    justify-content: center;
                    flex-wrap: nowrap;
                    width: 100%;

                }

                select {
                    font-weight: bold;
                    flex-basis: 100%;
                    text-align: center;
                    border: none;
                    text-transform: uppercase;

                    background-color: rgba(210, 210, 210, 0.7);
                    appearance: none;
                    cursor: pointer;

                    @media screen and (min-width: 576px) {
                        appearance: auto;
                        font-size: 0.6rem;

                    }

                    @media screen and (min-width: 992px) {
                        appearance: auto;
                        font-size: 0.8rem;
                        padding: 10px 0px;

                    }

                }

                select:hover {
                    background-color: rgba(210, 210, 210, 0.1);
                }

                select:nth-child(1) {
                    font-size: 1.2rem;

                    @media screen and (min-width: 992px) {
                        flex-basis: 30%;


                    }
                }

                select:nth-child(2) {
                    font-size: 1.2rem;

                    @media screen and (min-width: 992px) {
                        flex-basis: 20%;

                    }
                }

                select:nth-child(3) {
                    font-size: 0.7rem;

                    @media screen and (min-width: 992px) {
                        flex-basis: 40%;

                    }
                }

            }


        }

        .previews-racing {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-basis: 90%;

            @media screen and (min-width: 576px) {
                flex-basis: 80%;
            }

            @media screen and (min-width: 992px) {
                flex-basis: 90%;
            }

            .section-previews-banner {
                display: none;

                @media screen and (min-width: 1024px) {
                    flex-basis: 10%;
                    display: flex;
                    background-color: rgba(210, 210, 210, 0.7);
                    justify-content: center;
                }

                i {
                    align-self: center;
                    transform: translateY(-5vh);
                    font-size: 1.2rem;

                }

                i:hover {
                    cursor: pointer;
                    color: white;
                }

            }

            .section-previews-all {
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                background-color: rgba(210, 210, 210, 0.7);

                @media screen and (min-width: 576px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: flex-start;

                }

                @media screen and (min-width: 992px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    flex-basis: 90%;
                }


                .preview {
                    display: flex;
                    width: 100%;
                    height: calc(90vh/16);
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;

                    @media screen and (min-width: 576px) {
                        flex-basis: 50%;
                        height: calc(80vh/8);
                    }

                    @media screen and (min-width: 992px) {
                        // flex-grow: 1;
                        padding: 0 5px;
                        flex-basis: 50%;
                        height: calc(90vh/8);
                    }

                    p:nth-child(1) {
                        font-weight: 900;
                        font-size: 1.3rem;

                        @media screen and (min-width: 1024px) {
                            font-weight: 900;
                            font-size: 1rem;
                        }
                    }

                    p:nth-child(3) {
                        display: none;


                        @media screen and (min-width: 1024px) {
                            display: block;
                        }
                    }

                    p {
                        font-size: 1.2rem;

                        @media screen and (min-width: 1024px) {
                            font-size: 0.7rem;
                        }
                    }

                }

                .preview:hover {
                    background-color: rgba(210, 210, 210, 0.3);
                    cursor: pointer;
                }

            }
        }

    }

    .animation-previews-button {
        animation: animation-previews-button 1.5s linear infinite;
    }

    @keyframes animation-previews-button {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    @keyframes animation-preview-content {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .section-previews-racing-visible {
        transform: translateX(0%);

    }
}