.section-previews {
    display: flex;
    flex-direction: row;
    background-image: url(../img/background/previews_mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        background-image: url(../img/background/previews_full.jpg);
    }

    .section-previews-content {
        flex-basis: 75%;
        text-align: center;
        display: flex;


        @media screen and (min-width: 739px) {
            flex-basis: 65%;
        }

        .preview-content {
            background-color: rgba(210, 210, 210, 0.7);
            width: 100%;
            font-size: 1rem;

            .preview-content-wraper-item {
                display: flex;
                padding: 10px 0;

                div:nth-child(1) {
                    flex-basis: 25%;
                    font-weight: bold;
                    align-self: center;

                    i {
                        display: block;
                        font-size: 2.5rem;

                    }
                }

                div:nth-child(2) {
                    flex-basis: 75%;
                    align-content: center;
                    align-self: center;

                }
            }

            .preview-content-wraper-item:nth-child(odd) {
                background-color: rgba(210, 210, 210, 0.7);

            }

            .preview-content-city {
                font-size: 2rem;
                padding: 10px 0;
                letter-spacing: 3px;
            }

            .preview-content-date,
            .preview-content-description {
                font-size: 1.5rem;
                padding: 5px 0;

            }

            p:nth-child(1) {
                font-weight: 900;
            }

            p {
                line-height: 1.5rem;

                a {
                    text-decoration: none;
                }
            }

            img {
                width: 30%;

            }

        }

        .animation-preview-content {
            animation: animation-preview-content 2s linear;
        }

    }

    .section-previews-racing {
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        transition: 1s;
        // transform: translateX(90%);
        align-self: start;
        height: 100vh;


        @media screen and (min-width: 739px) {
            // transform: translateX(90%);
            flex-basis: 35%;
        }

        .section-previews-search {
            justify-content: center;
            display: flex;
            flex-direction: column;
            flex-basis: 10%;
            background-color: rgba(210, 210, 210, 0.7);
            padding: 10px 0px;

            .select {
                justify-content: flex-end;

                select {
                    padding: 10px 0px;
                    height: 40px;

                }

                select:nth-child(1) {
                    font-weight: bold;
                    flex-basis: 30%;
                    text-align: center;
                    letter-spacing: 1px;
                }

                select:nth-child(2) {
                    font-weight: bold;
                    flex-basis: 15%;
                    text-align: center;
                    // margin-right: 20px;
                }

                select:nth-child(3) {
                    font-weight: bold;
                    flex-basis: 40%;
                    text-align: center;
                    margin-right: 20px;
                }


            }

            .checkbox {
                justify-content: center;
            }


        }

        div {
            display: flex;
            flex-direction: row;
            flex-basis: 90%;

            .section-previews-banner {
                flex-basis: 10%;
                display: flex;
                background-color: rgba(210, 210, 210, 0.7);
                justify-content: center;

                i {
                    align-self: center;
                    transform: translateY(-5vh);
                    font-size: 1.2rem;

                }

                i:hover {
                    cursor: pointer;
                    color: white;
                }

            }

            .section-previews-all {
                display: flex;
                flex-basis: 90%;
                flex-wrap: wrap;
                align-content: flex-start;
                background-color: rgba(210, 210, 210, 0.7);

                .preview {
                    flex-direction: column;
                    flex-basis: 100%;
                    text-align: center;
                    padding: 3px 0;
                    overflow: hidden;
                    height: calc(90vh/8);

                    @media screen and (min-width: 739px) {
                        padding: 10px 0;
                        flex-basis: 50%;
                    }

                    p:nth-child(1) {
                        font-weight: 900;
                        font-size: 0.7rem;

                        @media screen and (min-width: 739px) {
                            font-weight: 900;
                            font-size: 1rem;
                        }
                    }

                    p:nth-child(3) {
                        display: none;

                        @media screen and (min-width: 739px) {
                            display: block;
                        }
                    }

                    p {
                        font-size: 0.6rem;

                        @media screen and (min-width: 739px) {
                            font-size: 0.7rem;
                        }
                    }

                }

                .preview:hover {
                    background-color: rgba(210, 210, 210, 0.3);
                    cursor: pointer;
                }

            }
        }

    }

    // .animation-previews-img {
    //     animation: animation-previews-img 5s linear infinite;
    // }

    .animation-previews-button {
        animation: animation-previews-button 1.5s linear infinite;
    }

    @keyframes animation-previews-button {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    @keyframes animation-preview-content {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes animation-previews-img {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }

    .section-previews-racing-visible {
        transform: translateX(0%);

    }
}