* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
}

/* previews */
.section-previews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(../img/background/previews_mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.section-previews .section-previews-content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  font-size: .8rem;
}

.section-previews .section-previews-content .preview-content {
  background-color: blue;
  width: 100%;
}

.section-previews .section-previews-content .preview-content .preview-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 5px 0;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-header {
    padding: 10px 0;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-map {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-map img {
  width: 35%;
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-city {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city {
    font-size: 1.8rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-date,
.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-description {
  padding-top: 2px;
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-date,
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-description {
    padding-top: 5px;
    font-size: 1.2rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-emblem {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-emblem img {
  width: 25%;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px 20px;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
  background-color: rgba(182, 167, 167, 0.2);
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    padding: 0.5rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
  grid-column: span 2 / auto;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
  grid-row: span 2 / auto;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place {
  border-radius: 30px 30px 0 30px;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(1) {
  font-size: .8rem;
  font-weight: 900;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(2) {
  font-weight: 900;
  text-transform: uppercase;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place span {
  display: block;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place span {
    display: block;
    font-size: 1.2rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place i {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route {
  border-radius: 30px 30px 30px 0;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(2) {
  font-size: 2rem;
  font-weight: 900;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(3) {
  font-size: 3rem;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.5);
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
  border-radius: 30px 0 30px 30px;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(2) {
  font-weight: 900;
  font-size: 2rem;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(3) {
  font-size: 3rem;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(4) {
  font-weight: 900;
  padding-bottom: 5px;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div a {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.5rem 0;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div:hover {
  background-color: rgba(210, 210, 210, 0.5);
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div:hover a {
  color: black;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
  border-radius: 0 30px 30px 30px;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus i {
  padding-right: 10px;
}

.section-previews .section-previews-content .animation-preview-content {
  -webkit-animation: animation-preview-content 2s linear;
          animation: animation-preview-content 2s linear;
}

.section-previews .section-previews-racing {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
  -ms-flex-item-align: start;
      align-self: start;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.section-previews .section-previews-racing .section-previews-search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: yellow;
  padding: 5px 0px;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .section-previews-search {
    background-color: rgba(210, 210, 210, 0.7);
    padding: 10px 0px;
  }
}

.section-previews .section-previews-racing .section-previews-search .select {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .section-previews-search .select {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.section-previews .section-previews-racing .section-previews-search .select select {
  padding: 5px 0px;
  font-weight: bold;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .section-previews-search .select select {
    padding: 10px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .section-previews-search .select select:nth-child(1) {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .section-previews-search .select select:nth-child(2) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .section-previews-search .select select:nth-child(3) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.section-previews .section-previews-racing .previews-racing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.section-previews .section-previews-racing .previews-racing .section-previews-banner {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(210, 210, 210, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-previews .section-previews-racing .previews-racing .section-previews-banner i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateY(-5vh);
          transform: translateY(-5vh);
  font-size: 1.2rem;
}

.section-previews .section-previews-racing .previews-racing .section-previews-banner i:hover {
  cursor: pointer;
  color: white;
}

.section-previews .section-previews-racing .previews-racing .section-previews-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  background-color: green;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview {
    padding: 0 5px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(1) {
  font-weight: 900;
  font-size: 0.7rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(1) {
    font-weight: 900;
    font-size: 1rem;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(3) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(3) {
    display: block;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview p {
  font-size: 0.6rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview p {
    font-size: 0.7rem;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview:hover {
  background-color: rgba(210, 210, 210, 0.3);
  cursor: pointer;
}

.section-previews .animation-previews-button {
  -webkit-animation: animation-previews-button 1.5s linear infinite;
          animation: animation-previews-button 1.5s linear infinite;
}

@-webkit-keyframes animation-previews-button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-previews-button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animation-preview-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-preview-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-previews .section-previews-racing-visible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */