* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

html body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  position: relative;
}

/* previews */
.section-previews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(../img/background/previews_mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.section-previews .section-previews-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-content {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

.section-previews .section-previews-content .preview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: rgba(210, 210, 210, 0.7);
}

.section-previews .section-previews-content .preview-content .preview-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(210, 210, 210, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-header {
    height: 20vh;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-map,
.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-emblem {
  display: none;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-map,
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-emblem {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-map img {
  width: 35%;
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-emblem img {
  width: 25%;
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-city {
  font-size: 1.9rem;
  padding: 0.2rem 0;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-city {
    font-size: 1.8rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-date,
.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-description {
  font-size: 1.4rem;
  padding: 0.2rem 0;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-date,
  .section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-description {
    padding-top: 5px;
    font-size: 1.2rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-header .preview-content-header-city .preview-content-description {
  font-weight: 900;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 5px;
    height: 80vh;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px 20px;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    padding: 0.5rem;
    height: auto;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place i,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route i,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment i,
.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus i {
  display: none;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place i,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route i,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment i,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus i {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place i,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route i,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment i,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus i {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    grid-column: span 2 / auto;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    grid-column: span 2 / auto;
  }
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
    grid-row: span 2 / auto;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route,
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
    grid-row: span 2 / auto;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place {
    border-radius: 30px 30px 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place {
    border-radius: 30px 30px 0 30px;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 900;
  padding: 0.2rem 0;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(3) {
  font-size: 1.4rem;
  padding: 0.2rem 0;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-place p:nth-child(3) {
    font-size: 1.2rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route {
    border-radius: 30px 30px 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route {
    border-radius: 30px 30px 30px 0;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(2) {
    font-size: 2rem;
    font-weight: 900;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(4) {
  font-size: 1.4rem;
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-route p:nth-child(4) {
    font-size: 1rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
    border-radius: 30px 0 30px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment {
    border-radius: 30px 0 30px 30px;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p {
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p {
    font-size: 1rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(2) {
    font-size: 2rem;
    font-weight: 900;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(4) {
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment p:nth-child(4) {
    font-weight: 900;
    padding-bottom: 0.2rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment ul {
  list-style: square;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-payment ul li {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  padding-bottom: 0.3rem;
  text-align: left;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: auto;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(124, 118, 184, 0.4);
  border-radius: 7px;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div {
    font-size: 0.6rem;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div {
    font-size: 0.8rem;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div a {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 0.5rem 0;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div a {
    padding: 0.5rem 0;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div:hover {
  background-color: rgba(210, 210, 210, 0.5);
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-links div:hover a {
  color: black;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    border-radius: 0 30px 30px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus {
    border-radius: 0 30px 30px 30px;
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus p:nth-child(1) {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
    color: rgba(0, 0, 0, 0.5);
  }
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus ul {
  list-style: square;
}

.section-previews .section-previews-content .preview-content .preview-content-wrapper-run .preview-content-run-bonus ul li {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  padding-bottom: 0.3rem;
  text-align: left;
}

.section-previews .section-previews-content .animation-preview-content {
  -webkit-animation: animation-preview-content 2s linear;
          animation: animation-preview-content 2s linear;
}

.section-previews .section-previews-racing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.section-previews .section-previews-racing .section-previews-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-racing .section-previews-search {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .section-previews-search {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    background-color: rgba(210, 210, 210, 0.7);
    padding: 10px 0px;
  }
}

.section-previews .section-previews-racing .section-previews-search .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .section-previews-search .select {
    background-color: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
}

.section-previews .section-previews-racing .section-previews-search .select select {
  font-weight: 900;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  font-size: 1.3rem;
  padding: 0.2rem 0;
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .section-previews-search .select select {
    -webkit-appearance: auto;
       -moz-appearance: auto;
            appearance: auto;
    font-size: 0.8rem;
    padding: 10px 0px;
  }
}

.section-previews .section-previews-racing .section-previews-search .select select:hover {
  background-color: rgba(210, 210, 210, 0.1);
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .section-previews-search .select select:nth-child(1) {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .section-previews-search .select select:nth-child(2) {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .section-previews-search .select select:nth-child(3) {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.section-previews .section-previews-racing .previews-racing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-racing .previews-racing {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .previews-racing {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-banner {
  display: none;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-banner {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(210, 210, 210, 0.7);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-banner i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: translateY(-5vh);
          transform: translateY(-5vh);
  font-size: 1.2rem;
}

.section-previews .section-previews-racing .previews-racing .section-previews-banner i:hover {
  cursor: pointer;
  color: white;
}

.section-previews .section-previews-racing .previews-racing .section-previews-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: rgba(210, 210, 210, 0.7);
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0.4rem 0;
}

@media screen and (min-width: 576px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: calc(80vh/8);
  }
}

@media screen and (min-width: 992px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview {
    padding: 0 5px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: calc(90vh/8);
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(1) {
  font-weight: 900;
  font-size: 1.4rem;
  padding: 0.2rem 0;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(1) {
    font-weight: 900;
    font-size: 1rem;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(3) {
  display: none;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview p:nth-child(3) {
    display: block;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview p {
  font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
  .section-previews .section-previews-racing .previews-racing .section-previews-all .preview p {
    font-size: 0.7rem;
  }
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview:nth-child(odd) {
  background-color: rgba(210, 210, 210, 0.7);
}

.section-previews .section-previews-racing .previews-racing .section-previews-all .preview:hover {
  background-color: rgba(210, 210, 210, 0.3);
  cursor: pointer;
}

.section-previews .animation-previews-button {
  -webkit-animation: animation-previews-button 1.5s linear infinite;
          animation: animation-previews-button 1.5s linear infinite;
}

@-webkit-keyframes animation-previews-button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-previews-button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animation-preview-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-preview-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-previews .section-previews-racing-visible {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */