$font-size-xxs: .4rem;
$font-size-xs: .6rem;
$font-size-sm: .8rem; //calculator
$font-size-md: 1rem; //links
$font-size-lg: 1.5rem;
$font-size-xl: 2rem; //footer
$font-size-xxl: 3rem; //footer, linkks, calculators
$font-size-xxxl: 4rem;

$color-primary: rgb(50, 50, 50); //footer, links
$color-primary-opacity: rgba(50, 50, 50, 0.2); //footer
$color-secondary: rgba(255, 255, 255, 0.8); //footer, header
$color-secondary-opacity: rgba(50, 50, 50, 0.7); //links, calculstors
$color-secondary-hover: rgba(50, 50, 50, 0.9); //footer, links